<%- include ../layout/head.ejs %>
<div class="page-data">
    <table cellpadding="11">
    <tr>
        <td>Name</td><td>: <%=data.username%></td>
    </tr>
    <tr>
        <td>Address</td><td>: <%=data.address%></td>
    </tr>
    <tr>
        <td>Email</td><td>: <%=data.email%></td>
    </tr>
    <tr>
        <td>Phone</td><td>: <%=data.phone%></td>
    </tr>
    </table>
    
    <input type="button" name="back" value="Back" class="cancel" onClick="window.history.back();">
</div>
<%- include ../layout/footer.ejs %>